*{
    margin: 0px;
    padding:0px;
    font-variant-position:'poppins',sans-scerif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
}
.header{
    width: 100%;
    height:100vh;
    background-image: url(https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg);
    background-size:cover;
    background-position: center;
    padding: 10px 5%;
    position:relative
} 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
nav button{
    border: 0;
    outline: 0;
    background-color:red;
    color:skyblue; 
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left:10px;
    cursor:pointer;
}
.langn_butn{
    display:inline-flex;
    align-items: center;
    background:transparent ;
    border:1px solid#fff;
    padding:7px 10px;
}
.langn_btn img{
    width:10px;
    margin-left:10px;
}
.header-content{
    text-align: center;
    margin-top: 100px;
}


.header-content,h1{
    line-height: 70px;
    font-weight: 600px;
    font-size: 60px;
}    
.header-content,h3{
  font-weight: 200px;
  margin-bottom: 10px;
  font-size: 40px;
}
.email-sign{
    background-color:transparent;
    border-radius: 60px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex:2;
    border:0px;
    outline:0px;
    margin:20px;
    margin-right: 0px;
    padding:17px;
    padding-left: 200px;
    background-color:black;
    
}
.email-signup button{
    background-color:red;
    border:0;
    outline:0;
    color:#fff;
    font-size: 16px;
    margin-left: 0px;
    cursor: pointer;
    padding: 15px;
}
.features,h2{
    display: block;
    padding-left: 30px;
    margin-top: 100px;
    line-height: 70px;
    font-weight: 600px;
}        
.features,h4{
    line-height:10px;
    font-weight:300px;
    padding-right:60px;
    padding-bottom: 120px;
}

.feature-img{
    float: right;
    padding-bottom: 120px;
    padding-right: 160px;
}
.feature2-img{
    display: inline;
    float: left;
    padding-bottom: 60px;
}
.feature2,h2{
    line-height: 80px;
    padding-left: 50px;

}
.feature2,h4{
    line-height:10px;
    font-weight:300px;
    padding-left: 30px;
}
.feature3-img{
    display:inline;
    float:right;
    padding-bottom:60px;
    padding-right: 70px;
}
.feature3,h2{
    line-height: 80px;
    padding-left: 50px;
}
.feature3,h4{
    line-height:10px;
    font-weight:300px;
    padding-left: 30px;
}
.feature4-img{
    display:inline;
    float:left;
    padding-right: 20px;
    padding-bottom: 50px;
}
.feature4,h2{
    line-height: 80px;
    padding-left: 60px;
    padding-bottom:10px;
}
.feature4,h4{
   padding-left: 30px;
}
.feature5{
    padding: 10px;
    text-align: center;
    font-size: 18x;
}
.faq{
    font-size: 40px;
    padding-right: 30px;
}
.accordion{
    margin: 60px auto;
    width:75%;
    max-width: 50%;
}
.accordion,li,label{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
    font-size:15px;
    background-color: #303030;
    cursor: pointer;
    font-weight: 500px;
    margin-bottom: 2px;
    position: relative;
}
input[type="radio"]{
    display:none;
}
label::after{
    content: '+';
    font-size: 34px;
    position:absolute;
    padding-right: 20px;
    transition:transform 0.5s;
}
.accordion.content{
    background-color:#303030;
    text-align: left;
    padding: 0px 20px;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.5s;
    padding: 0.5s;
}


    




